<section class="forms">
  <form class="form" [formGroup]="_signupForm">
    <div class="user-logo">
      <img src="/images/logo.png" alt="Логотип">
    </div>
    <input class="input" formControlName="username" [class.error]="username?.invalid && (username?.dirty)"
           type="text" placeholder="username">

    <div class="input-error">
      @if (username?.invalid && (username?.dirty)) {
        <div>
          @if (username?.errors?.['required']) {
            <div class="text-danger">
              Введите username
            </div>
          }
          @if (username?.errors?.['pattern']) {
            <div class="text-danger">
              Некорректный username
            </div>
          }
        </div>
      }
    </div>

    <input class="input" formControlName="password" [class.error]="password?.invalid && (password?.dirty)"
           type="password" placeholder="Пароль">

    @if (password?.invalid && (password?.dirty)) {
      <div>
        @if (password?.errors?.['required']) {
          <div class="text-danger">
            Введите пароль
          </div>
        }
        @if (password?.errors?.['pattern']) {
          <div class="text-danger">
            Пример пароля: Password123
          </div>
        }
      </div>
    }

    <input class="input" formControlName="phone" [class.error]="phone?.invalid && (phone?.dirty)"
           type="text" placeholder="Телефон">

    @if (phone?.invalid && (phone?.dirty)) {
      <div>
        @if (phone?.errors?.['required']) {
          <div class="text-danger">
            Введите телефон
          </div>
        }
        @if (phone?.errors?.['pattern']) {
          <div class="text-danger">
            Неверно введён телефон
          </div>
        }
      </div>
    }

    <input class="input" formControlName="name" [class.error]="name?.invalid && (name?.dirty)"
           type="text" placeholder="Ваше имя">
     @if(name?.invalid && (name?.dirty)) {
       <div>
         @if(name?.errors?.['pattern']) {
           <div class="text-danger">
             Некорректно введено имя
           </div>
         }
       </div>
     }

    <input class="input" formControlName="lastName" [class.error]="lastName?.invalid && (lastName?.dirty)"
           type="text" placeholder="Ваше фамилия">

    @if(lastName?.invalid && (lastName?.dirty)) {
      <div>
        @if(lastName?.errors?.['pattern']) {
          <div class="text-danger">
            Некорректно введена фамилия
          </div>
        }
      </div>
    }

    <div class="access">
      <input type="checkbox" id="access" formControlName="accept">
      <label for="access">Я ознакомлен(а) с </label>
      <a>политикой конфиденциальности</a>
    </div>

    <div class="loginRef">
      <span>У меня уже есть страница. </span><a routerLink="/login">Войти</a>
    </div>

    <button class="formBtn" [disabled]="_signupForm.invalid" (click)="_signup()">Зарегистрироваться</button>
  </form>
</section>
