.main-content {
  width: 78vw;
  display: flex;
  align-items: start;
  gap: 70px;
}

@media screen and (max-width: 1340px) {
  .main-content {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}

