<div class="p-4 w-full">
  <form class="flex flex-col gap-3 w-full" [formGroup]="_newVisitor">

    <p-floatlabel class="w-full" variant="on">
      <input pInputText id="name" [fluid]="true" formControlName="name" autocomplete="off" />
      <label for="name">Имя</label>
    </p-floatlabel>

    <p-floatlabel class="min-w-full" variant="on">
      <p-inputmask class="w-full" id="phone" formControlName="phone" mask="8-999-999-99-99" />
      <label for="phone">Телефон</label>
    </p-floatlabel>

    <p-floatlabel class="w-full" variant="on">
      <p-select class="w-full"
                [fluid]="true"
                formControlName="dateVisit"
                inputId="time"
                (onChange)="_choiceTime($event.value)"
                [options]="_timeVariant"
                optionLabel="name"
                styleClass="w-full" />
      <label for="time">Время</label>
    </p-floatlabel>

    <p-floatlabel class="w-full" variant="on">
      <p-select class="w-full"
                [fluid]="true"
                formControlName="category"
                inputId="categoryId"
                [options]="_categories()"
                (onChange)="_fetchFavors($event.value)"
                optionLabel="name"
                styleClass="w-full" />
      <label for="categoryId">Категория услуги</label>
    </p-floatlabel>

    <p-floatlabel class="w-full" variant="on">
      <p-multi-select class="w-full"
                [fluid]="true"
                formControlName="favor"
                inputId="favorId"
                [options]="_favors()"
                (onChange)="_choiceFavor.set($event.value)"
                [showToggleAll]="false"
                optionLabel="name"
                optionValue="id"
                styleClass="w-full" />
      <label for="favorId">Услуга</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <textarea pTextarea id="comment"
                formControlName="comment"
                [fluid]="true"
                rows="5"
                cols="30"
                style="resize: none"
                class="w-full h-full">
      </textarea>
      <label for="comment">Комментарий</label>
    </p-floatlabel>

    <div class="flex justify-end gap-2">
      <p-button icon="pi pi-times"
                severity="warn"
                type="button"
                label="Отмена"
                (onClick)="_closeDialog()"/>
      <p-button icon="pi pi-check"
                severity="info"
                styleClass="p-button-primary"
                type="button"
                label="Записать"
                [disabled]="_newVisitor.invalid || !_newVisitor.value"
                (onClick)="_createDirect()"/>
    </div>
  </form>
</div>

