@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixins";

.date-picker {
  width: 881px;
  height: 513px;
  border: 1px solid #ccc;

  .date-picker-title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #cccccc;
    padding: 0 7px;

    h2 {
      font-size: 30px;
      margin-right: 10px;
    }

    button {
      border: none;
      background: transparent;
    }
  }

  .date-picker-content {
    display: flex;
    align-items: baseline;
    padding: 35px 35px 40px 35px;

    .calendar {
      padding-right: 38px;
      border-right: 1px solid #D9D9D9;
      padding-bottom: 107px;

      .calendar-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 24px;
      }

      .calendar-date-items {
        padding: 3px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(7, 44px);
        grid-template-rows: repeat(5, 42px);
        gap: 4px;
        width: 339px;
        height: 233px;
        background-color: #D9D9D9;
        transition: .15s all ease-in-out;

        .custom-checkbox {
          position: absolute;
          z-index: -1;
          opacity: 0;
          transition: .15s ease-in-out;

          + label {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;

            &:hover {
              .checkbox-count {
                transform: scale(1.25);
              }
            }

            .checkbox-count {
              z-index: 5;
              position: relative;
              font-size: 24px;
              font-weight: bold;

            }

            &::before {
              content: "";
              position: absolute;
              display: inline-block;
              width: 42px;
              height: 42px;
              flex-shrink: 0;
              flex-grow: 0;
              background: white no-repeat center center;
              background-size: 50% 50%;
              transition: .15s ease-in-out;
            }
          }

          &:checked {
            + label {
              &::before {
                box-shadow: 0 0 4px inset rgba(0, 0, 0, 0.3);
                background-color: #00379e;
              }

              .checkbox-count {
                color: #fff;
              }
            }
          }

          &:not(:disabled):not(:checked) {
            + label {
              &:hover {
                &::before {
                  z-index: 5;
                  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                  transform: scale(1.25);
                }
              }

              .checkbox-count {

              }
            }

          }

          &:not(:disabled):active + label::before {
            background-color: #b3d7ff;
          }

          &:focus + label::before {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }

          &:focus:not(:checked) + label::before {

          }

          &:disabled {
            + label {
              cursor: not-allowed;

              &::before {
                background-color: #e9ecef;
              }

              .checkbox-count {
                transform: scale(1.0);
              }
            }
          }
        }

        .date-item {
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-size: 24px;
          font-weight: bold;
          transition: .15s ease-in-out;

          &:hover:not(.active, .disabled) {
            transform: scale(1.25);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          }

          &.disabled {
            background: #aaa;
            color: rgba(0, 0, 0, 0.38);
            cursor: not-allowed;

          }

          &.active {
            background-color: #00379e;
            color: #fff;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }

    .no-content {
      font-size: 30px;
      font-family: 'Montserrat SemiBold', sans-serif;
      margin: auto auto;
    }

    .timetable {
      padding-left: 31px;

      .timetable-day {
        font-family: 'Montserrat-SemiBold', sans-serif;
        font-size: 30px;
        margin-bottom: 23px;

      }

      .timetable-items {
        position: relative;
        list-style: none;
        padding-bottom: 61px;
        border-bottom: 1px solid #cccccc;

        .loadElseDirect {
          cursor: pointer;
          position: absolute;
          bottom: 5px;
          left: calc(50% - 25px);
          @include transition;

          &:hover {
            svg {
              path {
                fill: #00379e;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
              }
            }
          }
        }

        .timetable-item {

          .timetable-item-direct {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 5px;
            transition: .2s all ease-in-out;

            &:hover {
              background-color: #00379e;
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

              .item-profile-phone, .item-profile-name, .item-time-direct {
                color: #DEBBA2;
              }
            }

            .item-time-direct {
              margin-right: 18px;
              font-size: 14px;
              font-family: 'Montserrat SemiBold', sans-serif;
              width: 40px;
              text-align: end;
            }

            .item-profile-img {
              width: 42px;
              height: 42px;
              background-color: #DEBBA2;
              margin-right: 20px;
            }

            .item-profile-name {
              font-size: 16px;
              width: 138px;
              margin-right: 16px;
            }

            .item-profile-phone {
              font-size: 14px;
              font-family: 'Montserrat SemiBold', sans-serif;
            }
          }
        }
      }

      button {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: none;
        padding: 7px 23px 7px 8px;
        background-color: transparent;
        margin-top: 21px;
        @include transition;

        .button-icon {
          padding: 8px;
          background: #D9D9D9;
          margin-right: 15px;
        }

        span {
          font-size: 20px;
        }

        &:hover {
          background-color: #00379e;

          .button-icon {
            background-color:transparent;
            svg{
              path {
                stroke-opacity: 1;
              }
            }
          }

          span {
            color: #DEBBA2;
          }
        }
      }
    }
  }
}

