@import '../../../../../assets/styles/fonts';
@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixins";

.calendar {
  padding-right: 38px;
  padding-bottom: 82px;

  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .calendar-title {
      font-size: 24px;
      text-align: center;
    }
  }

  .calendar-date-items {
    border-radius: 8px;
    padding: 3px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(7, 34px);
    grid-template-rows: repeat(5, 32px);
    gap: 4px;
    width: 268px;
    height: 183px;
    background-color: $bg-color;
    transition: .15s all ease-in-out;

    .custom-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
      transition: .15s ease-in-out;

      + label {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        &:hover {
          .checkbox-count {
            transform: scale(1.25);
          }
        }

        .checkbox-count {
          z-index: 5;
          position: relative;
          font-size: 18px;
          font-family: 'Montserrat-SemiBold', sans-serif;
        }

        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          border-radius: 5px;
          width: 32px;
          height: 32px;
          flex-shrink: 0;
          flex-grow: 0;
          background: white no-repeat center center;
          background-size: 50% 50%;
          transition: .15s ease-in-out;
        }
      }

      &:checked {
        + label {
          &::before {
            box-shadow: 0 0 4px inset rgba(0, 0, 0, 0.3);
            background-color: $blue-color;
          }

          .checkbox-count {
            color: #fff;
          }
        }
      }


      &:not(:disabled):not(:checked) {

        + label {
          &:hover {
            &::before {
              z-index: 5;
              box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
              transform: scale(1.25);
            }
          }
        }
      }

      &:not(:disabled):active + label::before {
        background-color: $blue-color
      }

      &:disabled {
        color: black;

        + label {
          cursor: not-allowed;

          &::before {
            background-color: $grey-color;
          }

          .checkbox-count {
            transform: scale(1.0);
          }
        }
      }
    }

    &:not(:disabled) {
      &:not(:checked) {
        .full-day + label::before {
          background-color: $busy-color;
        }
        .disabled + label::before {
           background-color: $grey-color;
         }
      }

      &:checked {
        .full-day + label::before,
        .disabled + label::before {
          background-color: $blue-color;
        }
      }
    }

    .date-item {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;
      transition: .15s ease-in-out;

      &:hover:not(.active, .disabled) {
        transform: scale(1.25);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      }

        &.active {
          background-color: $blue-color;
          color: #fff;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .no-content {
    font-size: 26px;
    font-family: Montserrat-Bold, sans-serif;
    margin: auto auto;
  }

  @media screen and (max-width: 1100px) {
    .date-picker {
      max-width: 340px;
      height: unset;

      .date-picker-content {
        flex-direction: column;
        padding-bottom: 30px;

        .calendar {
          padding-bottom: 30px;
        }

        .timetable {
          padding-top: 30px;
          border-top: 1px solid $grey-color;
          max-width: 300px;
          width: 100%;
          text-align: center;
          padding-left: 0;

          .timetable-items {
            .timetable-item {
              .timetable-item-direct {

                .item-time-direct {
                  width: 55px;
                }

                height: 30px;

                .item-profile-img {
                  display: none;
                }
              }
            }
          }

          button {
            width: 100%;
          }
        }
      }
    }

    .date-picker-annotation {
      flex-direction: column;
      align-items: baseline;
      row-gap: 10px;
    }
  }
