<div class="calendar">
      <div class="calendar-header">
        <p-button [rounded]="true"
                  [text]="true"
                  (click)="_choiceMonth('prev')"
                  severity="contrast"
                  icon="pi pi-chevron-left" />
        <h3 class="calendar-title">{{ month }}</h3>
        <p-button [rounded]="true"
                  [text]="true"
                  (click)="_choiceMonth('next')"
                  severity="contrast"
                  icon="pi pi-chevron-right" />
      </div>
      <div class="calendar-date-items">
        @for (item of _dateCount(); track item) {
          <input class="custom-checkbox"
                 (change)="_isChecked.set(item)"
                 [checked]="item === _isChecked()"
                 type="radio"
                 id="{{item}}"
                 (click)="choiceDay(item)">
          <label for="{{item}}">
            <div class="checkbox-count">
              {{ item }}
            </div>
          </label>
        } @empty {
          <div class="date-error">Ошибка загрузки календаря</div>
        }

      </div>
    </div>
