@import "../../../../assets/styles/variables";

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-color;
  border-radius: 0 0 20px 20px;
  margin-bottom: 8px;
  z-index: 10;

  .header-left-content,
  .header-right-content {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-left: 15px;

    img {
      width: 160px;
    }
  }

  .header-profile-content {
    margin-left: 15px;
    margin-right: 10px;

    .login-ref {
      display: flex;
      align-items: center;

      .mat-icon {
        margin-right: 10px;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      text-decoration: none;

      .profile-icon {
        height: 34px;
        width: 35px;
      }

      .profile-info {
        margin-left: 10px;

        .profile-name {
          font-size: 14px;
        }
      }
    }
  }
}

.mat-badge.mat-badge {
  margin-top: 7px;
}
