<header class="header">
  <div class="header-left-content">
    <div class="header-header">
      <a routerLink="/main" class="header-logo">
        <img src="/images/logo-sidebar.png" alt="логотип">
      </a>
    </div>
  </div>

  <div class="header-right-content">

    <div class="example-button-container">
      <p-button icon="pi pi-bell"
                badge="{{_pushCount > 0 ? _pushCount : ''}}"
                pTooltip="{{_pushCount > 0 ? 'У вас ' + _pushCount + ' новых уведомлений' : 'Нет новых уведомлений'}}"
                tooltipPosition="bottom"
                [rounded]="true"
                [text]="true"
                [disabled]="_pushCount === 0"
                severity="secondary" />
      <!--      Добавить окно для просмотра уведомлений -->
    </div>

    <div class="header-profile-content">
      @if (_isLogged()) {
        <div>
          <p-menu class="flex" #menu [model]="_userMenu" [popup]="true" />


          <a class="profile" (click)="menu.toggle($event)">
            <div class="profile-icon">
              <img src="/images/profile-non-icon.png" alt="Профиль">
            </div>
            @defer {
              <div class="profile-info hidden md:block">
                <p class="profile-name">{{ this._user().name }}</p>
              </div>
            }
          </a>
        </div>
      } @else {
        <a routerLink="/login" class="login-ref">
          <i class="pi pi-sign-in">Войти</i>
          <span>Войти</span>
        </a>
      }
    </div>
  </div>

</header>
