<div class="page-content">
  <h1 class="page-title">{{ title }}</h1>
  <div class="breadcrumb">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" [home]="_home"></p-breadcrumb>
  </div>
  <div class="client flex items-start gap-14">
    <div class="client-image">
      <img ngSrc="./assets/images/profile.png" alt="client-image" width="350" height="350">
    </div>
    <div class="client-info mt-5">
      <ul class="client-info-items flex flex-col gap-5">
          <li class="client-info-item">
            <span class="client-info-item-title">Имя:</span>
            <span class="client-info-item-value">{{ _client()?.name}}</span>
          </li>
          <li class="client-info-item">
            <span class="client-info-item-title">Фамилия:</span>
            <span class="client-info-item-value">{{ _client()?.lastName}}</span>
          </li>
          <li class="client-info-item">
            <span class="client-info-item-title">Телефон:</span>
            <span class="client-info-item-value">{{ _client()?.phoneNumber}}</span>
          </li>
          <li class="client-info-item">
            <span class="client-info-item-title">Количество балов:</span>
            <span class="client-info-item-value">{{ _client()?.score}}</span>
          </li>
          <li class="client-info-item flex">
            <span class="client-info-item-title">Рейтинг клиента:</span>
            <p-rating [readonly]="!_editMode()" (ngModelChange)="this._clientRating.set($event * 20)" [ngModel]="_client()?.rate ?? 0 / 20" />
          </li>
          <li class="client-info-item flex items-center">
            <span class="client-info-item-title">Пометки о клиенте:</span>
            <textarea [value]="_client()?.description ?? ''"
                      #description
                      [disabled]="!_editMode()"
                      [placeholder]="'Нет пометок о клиенте'"
                      (input)="_clientDescription.set(description.value)"
                      [autoResize]="true"
                      variant="filled"
                      rows="5"
                      cols="30"
                      pTextarea>
            </textarea>
          </li>
      </ul>
    </div>
  </div>
</div>
