<div class="page-content">
  <h1 class="page-title">{{ title }}</h1>
  <div class="breadcrumb">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" [home]="_home"></p-breadcrumb>
  </div>
  <div class="client">
    <div class="client-image">
      <img ngSrc="./assets/images/profile.png" alt="client-image" width="350" height="350">
    </div>
    <div class="client-info">
      <ul class="client-info-items flex flex-column gap-2">
          <li class="client-info-item">
            <span class="client-info-item-title">Имя:</span>
            <span class="client-info-item-value">Валентина</span>
          </li>
      </ul>
    </div>
  </div>
</div>
