@import "../../../../assets/styles/variables";

.schedule-page-content {
  display: grid;
  grid-template-columns: 300px 450px 370px;
  column-gap: 75px;
  justify-items: center;

  .schedule-options {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-right: 40px;

    .schedule-filter-btn {
      padding: 5px 10px;
      box-sizing: border-box;
      width: 150px;
      font-size: 16px;
      font-family: Montserrat-Medium, sans-serif;
      transition: .1s ease-in-out;

      &:hover {
        color: $blue-color;
        background-color: $white-color;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      }

      &.active {
        color: $white-color;
        background-color: $blue-color;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      }
    }

    .schedule-filters-check {
      margin-top: 18px;
      border-radius: 20px;
      padding: 22px;
      background-color: $bg-color;
      box-shadow: 0 7px 13px 3px rgba(0, 0, 0, 0.25);

      .filter-block {
        margin-bottom: 15px;

        .filter-name {
          font-weight: 500;
          font-size: 16px;
          font-family: 'Montserrat-Medium', sans-serif;
          margin-bottom: 15px;
        }

        .filter-name-checkboxes {
          display: flex;
          flex-direction: column;
          justify-content: start;

          .checkbox {
            height: 20px;
            margin-bottom: 5px;
          }
        }
      }


    }
  }
}
