<div class="page-content">
  <h1 class="page-title">{{ _title }}</h1>
  <div class="schedule-page-content">
    <div class="schedule-options">
      <mat-form-field>
        <mat-label>Выберите месяц</mat-label>
        <mat-select>
<!--          @for (month of ; track month) {-->
<!--            <mat-option [value]="month.value">{{ month.viewValue }}</mat-option>-->
<!--          }-->
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Введите период вывода</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Начало">
          <input matEndDate placeholder="Конец">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button class="btn schedule-filter-btn" [class.active]="_showFilters()" (click)="showFiltersWindow()">Фильтры</button>

      @if (_showFilters()) {
        <div class="schedule-filters-check">
          <div class="filter-block">
            <h2 class="filter-name">Услуги</h2>
            <div class="filter-name-checkboxes">
              <mat-checkbox class="checkbox" value="Маникюр">Маникюр</mat-checkbox>
              <mat-checkbox class="checkbox" value="Педикюр">Педикюр</mat-checkbox>
              <mat-checkbox class="checkbox" value="Комплекс">Комплекс</mat-checkbox>
            </div>
          </div>
          <div class="filter-block">
            <h2 class="filter-name">Время</h2>
            <mat-slider min="200" max="500">
              <input value="300" matSliderStartThumb>
              <input value="400" matSliderEndThumb>
            </mat-slider>
          </div>
          <div class="filter-block">
            <h2 class="filter-name">Мастер</h2>
            <div class="filter-name-checkboxes">
              <mat-checkbox class="checkbox" value="Маникюр">Юлия</mat-checkbox>
              <mat-checkbox class="checkbox" value="Педикюр">Валерия</mat-checkbox>
              <mat-checkbox class="checkbox" value="Комплекс">Лилия</mat-checkbox>
            </div>
          </div>
          <div class="filter-block">
            <h2 class="filter-name">Статус</h2>
            <div class="filter-name-checkboxes">
              <mat-checkbox class="checkbox" value="Маникюр">Подтвержён</mat-checkbox>
              <mat-checkbox class="checkbox" value="Педикюр">Новый</mat-checkbox>
              <mat-checkbox class="checkbox" value="Комплекс">Отменнён</mat-checkbox>
            </div>
          </div>
        </div>
      }

    </div>

  </div>
</div>

