@import '../../../../assets/styles/variables';

.sidebar {
  height: 100svh;
  background-color: $bg-color;
  margin-right: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .sidebar-header {
    padding: 30px 13px;
    border-bottom: 1px solid $blue-color;

    .sidebar-logo {

      img {
        width: 224px;
        height: 59px;
      }
    }
  }

  .sidebar-body {
    padding: 30px 44px;
    flex: 1 0 auto;

    .menu {

      .menu-items {
        list-style: none;

        .menu-item {
          padding: 8px 20px;
          text-align: center;
          margin-bottom: 2px;
          border: 1px solid transparent;
          transition: .2s linear all;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            background: $white-color;
            border: 1px solid $blue-color;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

            a {
              color: $blue-color;
            }
          }

          a {
            text-decoration: none;
          }

          &.active {
            background: $blue-color;
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

            a {
              color: $white-color;
            }
          }
        }
      }
    }
  }

  .sidebar-footer {
    padding: 38px 20px;
    border-top: 1px solid $blue-color;
    flex: 0 0 auto;

    .profile {
      display: flex;
      align-items: center;
      text-decoration: none;


      .profile-icon {
        height: 34px;
        width: 35px;
      }

      .profile-info {
        margin-left: 10px;

        .profile-name {
          color: $blue-color;
        }
      }
    }
  }
}
