@import "variables";
@import "mixins";

.forms {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background: url("../../assets/images/test-bg-form.jpg") no-repeat;

  .user-logo {
    margin-bottom: 50px;
  }

  .form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient($bg-color, $grey-color);

    .input {
      width: 350px;
      height: 45px;
      padding: 15px 24px 14px 25px;
      background: $white-color;
      border-radius: 10px;
      border: 1px solid $busy-color;
      margin-bottom: 20px;
      color: $busy-color;
      font-size: 14px;
      outline: none;
      box-sizing: border-box;
      transition: .2s ease-in;

      &:focus {
        box-shadow: 0 0 6px 6px #DEBBA266;
      }

      &::placeholder {
        color: #DEBBA266;
        font-size: 14px;
      }
    }

    .access {
      display: flex;
      align-items: center;
      margin-bottom: 22px;
      font-size: 14px;

      input {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }

      label {
        color: $white-color;
        margin-right: 5px;
      }

      a {
        color:black;
      }
    }

    .loginRef {
      margin-bottom: 22px;

      span {
        color: $white-color;
      }

      a {
        color: black;
        text-decoration: none;
      }
    }

    .formBtn {
      cursor: pointer;
      background: $white-color;
      color: $busy-color;
      font-size: 14px;
      padding: 11px 30px;
      text-decoration: none;
      border-radius: 10px;
      border: 1px solid $busy-color;
      @include transition;

      &:not(:disabled){
        &:hover {
          background: $busy-color;
          color: white;
        }

      }

      &:disabled {
        color: $bg-color;
        border-color: #f8e0c3;
        cursor: not-allowed;
      }
    }
  }
}

//adaptive styles

