@import "fonts";
@import "variables";

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.btn {
  border-radius: 30px;
  border: none;
  background-color: $blue-color;
  outline: none;
  color: $white-color;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.page {
  margin-top: 55px;
  margin-left: 250px;
  transition: .2s ease-in-out;
}

.page:has(.sidebar.close) {
  margin-left: 120px;
}

.text-danger {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.page-content {
  padding-inline: 15px;
  padding-top: 30px;

  .page-title {
    font-size: 40px;
    font-family: 'Montserrat-Bold', sans-serif;
    margin-bottom: 40px;
  }
}

.p-input-text {
  width: 100%;
}

.p-breadcrumb {
  background: none;
  padding-inline: 0;
  color: $grey-color;
  font-size: 12px;
}

.schedule-content {
  .calendar {
    padding-bottom: 15px !important;
  }
}

p-inputmask{
  &.phone-input {
    input {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .page {
    justify-content: center;

    .page-title {
      text-align: center;
    }

    &:has(.sidebar.close) {
      margin-left: 0;
      padding-bottom: 80px;
    }
  }
}
