<aside class="sidebar close" [class.close]="_menuOpen()">
  <div class="sidebar-body">
    <nav class="menu">
      <ul class="menu-items">
        <li class="menu-item menu-open" [pTooltip]="'Меню'" (click)="_menuVis()">
          <i class="pi pi-bars"></i>
          <span>Меню</span>
        </li>
        @for(item of _menuAdminItems; track item) {
          <li class="menu-item" [pTooltip]="item.routeName" routerLink="{{item.route}}" routerLinkActive="active">
            <i class="{{item.icon}}"></i>
            <span>{{item.routeName}}</span>
          </li>
        }
      </ul>
    </nav>
  </div>
</aside>
