<aside class="sidebar close" [class.close]="_menuOpen()">
  <div class="sidebar-body">
    <nav class="menu">
      <ul class="menu-items">
        <li class="menu-item" [matTooltip]="'Меню'" (click)="_menuVis()">
          <mat-icon>menu</mat-icon>
          <span>Меню</span>
        </li>
        @for(item of _menuAdminItems; track item) {
          <li class="menu-item" [matTooltip]="item.routeName" routerLink="{{item.route}}" routerLinkActive="active">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.routeName}}</span>
          </li>
        }
      </ul>
    </nav>
  </div>
</aside>
