@import "../../../../assets/styles/mixins";

.table-container {
  scrollbar-width: none;
  scrollbar-color: $blue-color transparent;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $blue-color;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  @include card();
  table {

    width: 100%; /* Заставляет таблицу занимать всю ширину контейнера */
    th.mat-header-cell,
    td.mat-cell {
      font-size: 14px; /* Уменьшение шрифта для компактности */
      padding: 8px; /* Уменьшение отступов */
    }
  }
}

@media (max-width: 975px) {
  .table-container {
    max-width: 768px;
    overflow-x: auto;
  }
}

@media (max-width: 375px) {
  .table-container {
    table {
      th.mat-header-cell, td.mat-cell {
        font-size: 12px; /* Дополнительное уменьшение шрифта на маленьких экранах */
      }
    }
  }
}
