<div class="chart-content">
  <h2 class="chart-title chart-head">Мои операции</h2>
  <canvas baseChart
          [type]="'doughnut'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels.labels"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
          [width]="275">
  </canvas>
  <div class="chart-title-and-option">
    <h2 class="chart-title">Даходы / Расходы</h2>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/operations">Детально</button>
      <button mat-menu-item routerLink="/operations/create">Расходы</button>
      <button mat-menu-item routerLink="/operations/delete">Доходы</button>
    </mat-menu>
  </div>

</div>
