<div class="chart-content">
  <h2 class="chart-title chart-head">Мои операции</h2>
  <canvas baseChart
          [type]="'doughnut'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels.labels"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
          [width]="275">
  </canvas>
  <div class="chart-title-and-option">
    <h2 class="chart-title">Даходы / Расходы</h2>
    <p-menu #menu [model]="_options" [popup]="true" />
    <p-button [rounded]="true"
              [text]="true"
              (click)="menu.toggle($event)"
              severity="contrast"
              icon="pi pi-ellipsis-v"/>
  </div>

</div>
