<div class="page-content">
  <h1 class="page-title"> {{ _title }}</h1>
  <div class="breadcrumb">
    <p-breadcrumb class="max-w-full" [model]="_breadcrumb()" [home]="_home"></p-breadcrumb>
  </div>

  <div class="flex flex-col items-center gap-4 lg:flex-row lg:items-start">
    <div class="schedule-content w-full">
      <header class="flex items-center justify-center py-1">
        <span>Расписание</span>
      </header>
      <div class="schedule-content-body">
        <app-date-picker (startDate)="_startDate.set($event)" (emitDate)="_checkDayState($event)"
                         #calendar></app-date-picker>

        <div class="flex flex-col items-start gap-3 mb-3">
          <div class="font-bold">{{ calendar.day }}</div>
          @if (calendar.day) {
            <div class="flex flex-col gap-1">
              <p>Укажите статус</p>
              <p-toggleswitch [(ngModel)]="_dayState" [name]="'Укажите статус'" [falseValue]="false"
                              [trueValue]="true" />
            </div>

            <div class="flex items-center justify-between gap-2">
              <div>С</div>

              <div class="flex items-center gap-1">
                <p-inputNumber class="w-11" [(ngModel)]="_startHour" buttonLayout="vertical"
                               [showButtons]="true" [min]="0" [max]="24">
                  <ng-template pTemplate="incrementbuttonicon">
                    <span class="pi pi-plus"></span>
                  </ng-template>
                  <ng-template pTemplate="decrementbuttonicon">
                    <span class="pi pi-minus"></span>
                  </ng-template>
                </p-inputNumber>

                <div>:</div>

                <p-select class="minute-select w-12" [options]="_minute" (onChange)="_startMinute.set($event.value)" />
              </div>

              <div>До</div>

              <div class="flex items-center gap-1">
                <p-inputNumber class="w-11" [(ngModel)]="_endHour" buttonLayout="vertical"
                               [showButtons]="true" [min]="0" [max]="24">
                  <ng-template pTemplate="incrementbuttonicon">
                    <span class="pi pi-plus"></span>
                  </ng-template>
                  <ng-template pTemplate="decrementbuttonicon">
                    <span class="pi pi-minus"></span>
                  </ng-template>
                </p-inputNumber>

                <div>:</div>

                <p-select class="minute-select w-12" [options]="_minute" (onChange)="_endMinute.set($event.value)" />
              </div>
            </div>

          }


        </div>
        <div class="flex justify-end gap-1 mt-2">
          @if (_scheduleCustom().customDays && _scheduleCustom().customDays.length > 0) {
            <p-button severity="warn" (onClick)="_resetDays()"
                      label="Сбросить" icon="pi pi-refresh" class="w-full" />

            <p-button severity="primary" (onClick)="_choiceDay()"
                      label="Сохранить" icon="pi pi-check" class="w-full" />
          } @else {
            <p-button severity="success" (onClick)="_resetDays()" label="Сформировать расписание" fluid />
          }
        </div>
      </div>
    </div>

    <div class="card-editing-date w-full">
      <h3 class="flex justify-center">Список дней</h3>
      @if (_scheduleCustom().customDays && _scheduleCustom().customDays.length > 0) {
        <p-table [value]="_scheduleCustom().customDays">
          <ng-template #header>
            <tr>
              <th>День</th>
              <th>Состояние</th>
              <th>Рабочее время</th>
            </tr>
          </ng-template>
          <ng-template #body let-item>
            <tr>
              <td>{{ item.date }}</td>
              <td>{{ item.state === 'have' ? 'Рабочий день' : 'Выходной день' }}</td>
              <td>{{ item.workTime }}</td>
            </tr>
          </ng-template>
        </p-table>
        <div class="mt-3">
          <p-button severity="primary" class="w-full" (onClick)="_createSchedule()" icon="pi pi-check"
                    label="Сохранить расписание" />
        </div>
      } @else {
        <div class="flex justify-center text-center font-medium mt-3">Нажмите кнопку сформировать, чтобы сформировать расписание для дальнейшей
          корректировки
        </div>
      }
    </div>
  </div>

</div>

